<% if !user_signed_in? # if the user is not sign in, render this %>

    <style>
    body {
      background:linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        ),url("/bg.jpg")no-repeat center center fixed;
      -webkit-background-size:cover;
      -moz-background-size:cover;
      -o- background-size:cover;
      background-size:cover;
    }
    h1 {
        color:white;
        font-weight:bold;
      }
    .container-index{
        margin-right:15%;
        margin-left:15%;
        color:white;
    }
    .text {
      color:white;
      font-weight: 300;
      font-size:150%;
    }
    .footer-links {
        text-align: center;
        color:white;
        margin-top: 7%;
        margin-bottom:20%;
        font-size:75%;
    }
    .log-in {
      float: right;
      width:300px;
      height:150px;
      margin-top:7.5%

    }
    .sign-up{
      float:right;
      width:300px;
      height:250px;
    }

    </style>
    <div class="container-index row">
      <div class="col-sm-6">
          <h1>Welcome to Flutter.</h1>
            <p class="text">
              Connect with your buddies. Chat with new friends.<br>
               Share your adventures. Have fun! <br>
              Just like a blog, but with less characters!
            </p>
       </div>
       <div class="col-sm-6">
           <div class="log-in panel">

          </div>

          <div class="sign-up panel">
          Sign up

         </div>
       </div>


      <div class="col-sm-12">
      <p class="footer-links"> About  Help  Blog  Status  Jobs  Terms  Privacy  Cookies  Ads  info  Brand  Advertise  Businesses  Media  Developers  Directory  2016 Flutter</p>
    </div>
    </div>
<% else  #if the user IS signed in render the followeing %>
    <script>document.location = "/home"</script>


<% end %>
